@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Syncopate:wght@400;700&display=swap');

:root {
  --text-color: #F5E7E7;
  --border-color: rgba(245, 231, 231, 0.4);
  --button-color: #081325;
  --black-color: #020102;
  --plum-purple: #18131E;
  --purple: #20182a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1E1E1E;
}
.comp {
  padding: 5rem;
}

.triangle {
  max-width: 300px;
  max-height: 190px;
  position:relative;
}

.triangle__content {
  width: 0; 
	height: 0; 
	border-left: 155px solid transparent ;
  border-right: 155px solid transparent;
  border-top: 190px solid rgba(32, 24, 42, 0.4);
}

.triangle__headline {
  font-family: 'Syncopate';
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;
  color: var(--text-color);
  position:absolute;
  top: 10px;
  width: 100%;
  left: 0;
  text-align: center;
}

.triangle__line {
  position: absolute;
  border-top: 1px solid black;
  height: 1px;
  width: 154px;
  top: 48px;
  left: 78px;
}

.triangle__logo {
  position:absolute;
  height: 70px;
  width: 70px;
  top: 60px;
  left: 120px;
}

.navbar {
  max-width: 800px;
  padding-top: 1rem;
}

.navbar__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar__li {
  text-decoration: none;
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  line-height: 12px;
  color: var(--text-color);
}

@media (max-width: 1150px) {
  .navbar__ul {
    display: none;
  } }

.slideshow {
  background: radial-gradient(95.19% 95.19% at 50% 4.81%, rgba(17, 32, 55, 0.7) 2.77%, rgba(2, 1, 2, 0.7) 92.71%);
  max-width: 1000px;
  border-color: var(--border-color);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-radius: 40px 40px 0px 0px;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
}

.slideshow__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.slideshow__large {
 max-width: 100%;
 max-height: 100%;
 border: 1px solid;
 border-color: var(--border-color);
 border-radius: 50%;
}

.slideshow__small {
 max-height: 100%;
 max-width: 100%;
 border: 1px solid;
 border-color: var(--border-color);
 border-radius: 50%; 
} 

.button__primary {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  background: #081325;
  color: var(--text-color);
  text-transform: capitalize;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1rem;
  border-style: none;
}
.button__primary--purple {
  background-color: var(--purple);
}

.card {
  max-width: 340px;
  border: 4px solid;
  border-color: var(--text-color);
  border-radius: 25px;
  padding: 5px;
  display: flex;
}

.card__content {
  max-width: 300px;
  color: var(--text-color);
  padding: 2rem 47px 2rem 47px;
  border-radius: 25px;
  background: rgba(32, 24, 42, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__headline {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
}

.card__text {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149%;
}
.card__line {
  width: 193px;
  border: 1px solid #000000;
  margin: 22px 0px 22px 0px;
}

.cards {
  max-width: 1000px;
  min-height: 500px;
  background-color: var(--black-color);
  border-color: var(--border-color);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 40px 40px;
  padding: 0px 0px 80px 0px;
}
.cards__headline {
  color: var(--text-color);
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 40px;
  padding: 58px 0px 58px 0px;
  text-align: center;
}
.cards__container {
  background-image: url(../images/09-night.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cards__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}
.cards__card {
  grid-column: auto / span 1;
  margin: auto;
}

.circles {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.circles__numberbox {
  display: flex;
  align-items: center;
}
.circles__number {
  background-color: var(--plum-purple);
  height: 43px;
  width: 43px;
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.02%;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles__number--opacity {
  opacity: 0.6;
}
.circles__line {
  width: 150px;
  height: 1px;
  background-color: var(--border-color);
}
.circles__textbox {
  display: flex;
  width: 115%;
  justify-content: space-between;
}
.circles__text {
  color: var(--text-color);
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.02%;
}
.circles__text--opacity {
  opacity: 0.6;
}
@media (max-width: 600px) {
  .circles__line {
    width: 80px;
  }
}

.searchbar {
  background-color: var(--plum-purple);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
}
.searchbar__ul {
  
  border-radius: 8px;
  background-color: var(--text-color);
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
  max-width: 1000px;
  justify-content: space-between;
  
}
.searchbar__li {
  list-style: none;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #121212;
}
.searchbar__change {
  list-style: none;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #121212;
  padding-left: 3rem;
}
@media (max-width: 800px) {
  .searchbar__li {
display: none;
}
.searchbar__change {
  padding: 0.5rem;
  width: 100%;
}
.searchbar__ul {
  width: 100%;
}
.searchbar {
  width: 85%;
}
}

.preview {
  width: 100%;
}
.preview__headline {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 149.02%;
  color: var(--text-color)
}

.preview__image {
 max-width: 100%;
}

.preview__container {
  display: flex;
  color: var(--text-color);
  gap: 2rem;
}

.preview__info {
  padding: 5px 0px 5px 0px;
}

.preview__hl {
  text-transform: uppercase;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.02%;
}
.preview__hl--border {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px 0px;
}

.preview__text {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.02%;
}

.info-card {
  max-width: 340px;
  background-color: var(--plum-purple);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.info-card__headline {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: var(--text-color);
 text-align: center;
  text-transform: uppercase;
}

.info-card__text {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.02%;
  color: var(--text-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.info-card__button {
  margin: auto;
}


@media (max-width: 1024px){
  .cards__grid { grid-template-columns: repeat(2, 1fr);}
  
}

@media (max-width: 660px){
  .cards__grid { grid-template-columns: repeat(1, 1fr);}
}