<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components.css">
  <title>Components</title>
</head>
<body class="comp">

<div class="triangle">
  <div class="triangle__content">
    <h1 class="triangle__headline">Bonzai.</h1>
    <div class="triangle__line"></div>
    <img class="triangle__logo" src="../images/bonz.ai-logo-color-symbol.png" alt="">
  </div>
</div>

<nav class="navbar">
  <ul class="navbar__ul">
    <li class="navbar__li">home</li>
    <li class="navbar__li">explore</li>
    <li class="navbar__li">about us</li>
    <li class="navbar__li">contact us</li>
  </ul>
 </nav>

<img src="../images/earth.png" alt="">

<button class="button">book now</button>

<section class="slideshow">
  <article class="slideshow__images">
    <div class="slideshow__imagebox">
      <img class="slideshow__small" src="../images/slideshow-left.png" alt="">
    </div>
    <div class="slideshow__imagebox">
    <img class="slideshow__large" src="../images/slideshow-main.png" alt="">
  </div>
  <div class="slideshow__imagebox">
    <img class="slideshow__small" src="../images/slideshow-right.png" alt="">
  </div>
  </article>
</section>

<article class="card">
  <div class="card__content">
  <h2 class="card__headline">ABOUT US</h2>
  <div class="card__line"></div>
  <p class="card__text">Welcome to our small house rental service on the beautiful planet of Nirvaxa! As you may know, Earth's natural environment has been severely damaged over the years, but fear not, Avoria is home to some of the most breathtaking natural landscapes in the galaxy.</p>
  <div class="card__line"></div>
  <button class="button">book now</button>
</div>
</article>

<section class="cards">
  <h1 class="cards__headline">welcome to nirvaxa</h1>
    <section class="cards__container">
      <div class="cards__grid">
        <article class="card cards__card">
          <div class="card__content">
          <h2 class="card__headline">ABOUT US</h2>
          <div class="card__line"></div>
          <p class="card__text">Welcome to our small house rental service on the beautiful planet of Nirvaxa! As you may know, Earth's natural environment has been severely damaged over the years, but fear not, Avoria is home to some of the most breathtaking natural landscapes in the galaxy.</p>
          <div class="card__line"></div>
          <button class="button">book now</button>
        </div>
      </article>
      <article class="card cards__card">
        <div class="card__content">
        <h2 class="card__headline">ABOUT US</h2>
        <div class="card__line"></div>
        <p class="card__text">Welcome to our small house rental service on the beautiful planet of Nirvaxa! As you may know, Earth's natural environment has been severely damaged over the years, but fear not, Avoria is home to some of the most breathtaking natural landscapes in the galaxy.</p>
        <div class="card__line"></div>
        <button class="button">book now</button>
      </div>
      </article>
      <article class="card cards__card">
        <div class="card__content">
        <h2 class="card__headline">ABOUT US</h2>
        <div class="card__line"></div>
        <p class="card__text">Welcome to our small house rental service on the beautiful planet of Nirvaxa! As you may know, Earth's natural environment has been severely damaged over the years, but fear not, Avoria is home to some of the most breathtaking natural landscapes in the galaxy.</p>
        <div class="card__line"></div>
        <button class="button">book now</button>
      </div>
    </article>
    
  </div>
</section>
</section>



<article class="searchbar">
  <ul class="searchbar__ul">
    <li class="searchbar__li"><img src="../images/date.png" alt="">fri 22 may 2047 - fri 29 may 2047</li>
    <li class="searchbar__li"><img src="../images/people.png" alt="">2 adults</li>
    <li class="searchbar__li"><img src="../images/bed.png" alt="">1 room</li>
    <li class="searchbar__li searchbar__change">change search</li>
  </ul>
</article>

<article class="circles">
  <div class="circles__numberbox">
    <figure class="circles__number">1</figure>
    <div class="circles__line"></div>
    <figure class="circles__number circles__number--opacity">2</figure>
    <div class="circles__line"></div>
    <figure class="circles__number circles__number--opacity">3</figure>
  </div>
  <div class="circles__textbox">
    <p class="circles__text ">Search results</p>
    <p class="circles__text circles__text--opacity">Details</p>
    <p class="circles__text circles__text--opacity">Confirmation</p>
  </div>
</article>
 
<article class="preview">
  <h1 class="preview__headline">Cabin at the sapphire fall lake</h1>
  <img class="preview__image" src="../images/05-day.jpg" alt="">
    <article class="preview__container">
      <article>
        <div class="preview__info">
          <h3 class="preview__hl">view:</h3>
          <p class="preview__text">Mountain and lake</p>
        </div>
        <div class="preview__info">
          <h3 class="preview__hl">beds:</h3>
          <p class="preview__text">1 King size bed plus 1 sofa bed</p>
        </div>
          <h3 class="preview__hl preview__hl--border">+ see more details</h3>
        </article>
        <article>
          <div class="preview__info">
            <h3 class="preview__hl">size:</h3>
            <p class="preview__text">45 sqm</p>
          </div>
          <div class="preview__info">
            <h3 class="preview__hl">persons:</h3>
            <p class="preview__text">2-3</p>
          </div>
        </article>
      </article>
    </article>

<aside class="info-card">
  <h1 class="info-card__headline">1 room cabin</h1>
  <p class="info-card__text">Nestled amongst towering trees and rugged terrain, the cabin is a serene retreat on the shores of a pristine lake. Large floor-to-ceiling windows offer breathtaking views of the water and the surrounding forest. Despite the remote location, the cabin is well-equipped with modern amenities, including a fully-equipped kitchen, a cozy fireplace, and comfortable beds. It's the perfect place to escape from the daily life and reconnect with nature, allowing visitors to experience the beauty of this  world.</p>
  <button class="info-card__button button button--purple">book now</button>
</aside>



</body>
</html>