  @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #F5E7E7;
  --border-color: rgba(245, 231, 231, 0.4);
  --button-color: #081325;
  --black-color: #020102;
  --plum-purple: #18131E;
  --purple: #20182a;
}

.main {
  background-image: url(../images/naturemedium.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 0rem 2rem 0rem 2rem;
  justify-content: space-between;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.header-image {
  margin-left: 1rem;
  margin-top: 2rem;
  width: 97px;
  height: 97px;
  grid-column: auto / span 1;
}

.triangle {
 margin: 0 auto;
 grid-column: auto / span 1;
}

.navbar-meny {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.navbar {
  max-width: 100%;
  grid-column: auto / span 1;
}

.main-headline {
  color: var(--text-color);
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  text-align: center;
}
.about__headline {
  color: var(--text-color);
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
}

.explore {
  padding: 0rem 2rem 5rem 2rem;
  background-color: black;
}

.cards {
  margin: auto;
}

.ai-image {
  width: 100%;
  border-radius: 50%;
}

.cabin-site {
  background-color: #18131e;
  padding: 5rem 5rem 5rem 5rem;
}
.cabin-site__container {
  background-color: var(--purple);
  width: 100%;
  padding: 0rem 1rem 2rem 1rem;
}
.cabin-site__header {
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0rem 2rem 0rem;
}
.cabin-site__headline {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  color: var(--text-color);
  
}
.room-module {
  max-width: 820px;
  gap: 2rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--border-color);
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
}


@media (max-width: 900px){
  .room-module {
    flex-direction: column;
    align-items: center;
   }
   .cabin-site {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
   }
}

@media (max-width: 615px) {
  .cabin-site {
    padding: 0rem 0rem 5rem 0rem;
  }
  .explore {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .main {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .header-image {
    display: none;
  }
  .triangle {
    grid-column: auto / span 3;
  }
}

@media (max-width: 1150px) {
  .navbar__ul {
    display: none;
  }
  /*
  .main-headline {
    font-size: 1.8rem;
  }*/
}

@media (min-width: 1150px) {
  .navbar-meny {
    visibility: hidden;
  }
 
}

